{% load static %}
<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CSV Manager{% endblock %}</title>

    <!-- favicon на таба -->
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">

<div id="wrapper">

<!-- SIDEBAR -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

    <!-- LOGO -->
     <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <svg width="26" height="26" viewBox="0 0 24 24" style="margin-right:8px;">

        <path fill="white" d="M6 2h9l5 5v13a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2z"/>
        <path fill="#e3e6f0" d="M15 2v5h5z"/>
        <text x="6.5" y="16" font-size="6" fill="#4e73df" font-weight="bold">CSV</text>

    </svg>
    <div class="mx-2"><b>CSV Manager</b></div>
</a>

    <hr class="sidebar-divider">

    <!-- DASHBOARD -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <span>Табло за управление</span>
        </a>
    </li>

    <!-- ABOUT -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">
            <span>Информация</span>
        </a>
    </li>

    {% if user.is_authenticated %}

    <!-- HISTORY -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'history' %}">
            <span>История на анализите</span>
        </a>
    </li>

    <!-- LOGOUT -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
            <span>Изход</span>
        </a>
    </li>

    {% else %}

    <!-- LOGIN -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">
            <span>Вход</span>
        </a>
    </li>

    <!-- REGISTER -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">
            <span>Регистрация</span>
        </a>
    </li>

    {% endif %}

</ul>

<!-- CONTENT -->
<div id="content-wrapper" class="d-flex flex-column">
<div id="content">

<nav class="navbar navbar-light bg-white shadow mb-4"></nav>

<div class="container-fluid">
{% block content %}
{% endblock %}
</div>

</div>
</div>
</div>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

</body>
</html>